@using Projekt_programowanie.ViewModels;
@using Projekt_programowanie.Enums;
@model RegisterVM;

@{
	ViewData["Title"] = "Register";
}

<div class="row">
	<div class="col-md-3 card p-3">
		<h2 class="text-center text-info">
			<form asp-action="Register" method="POST">
				<div asp-validation-summary="ModelOnly"></div>
				<div class="mb-1">
					<label asp-for="Email"></label>
					<input asp-for="Email" class="form-control" />
					<span asp-validation-for="Email"></span>
				</div>
				<div class="mb-1">
					<label asp-for="Username"></label>
					<input asp-for="Username" class="form-control" />
					<span asp-validation-for="Username"></span>
				</div>
				<div class="mb-1">
					<label asp-for="Password"></label>
					<input asp-for="Password" class="form-control" />
					<span asp-validation-for="Password"></span>
				</div>
				<div class="mb-1">
					<label asp-for="ConfirmPassword"></label>
					<input asp-for="ConfirmPassword" class="form-control" />
					<span asp-validation-for="ConfirmPassword"></span>
				</div>
				<select asp-for="Role" asp-items="@(new SelectList(UserRoleGetter.GetList(), nameof(UserRoleItem.Id), nameof(UserRoleItem.Name)))">
					<option value=""> -- Pick a role -- </option>

				</select>
				<span asp-validation-for="Role" class="text-danger"></span>
				<div class="row">
					<div class="col-8">
						<a asp-action="Login">Have you got an acc?</a>
					</div>
					<div class="col-4">
						<input type="submit" value="Register" class="btn btn-primary btn-sm" />
					</div>
				</div>

			</form>
		</h2>
	</div>
</div>